<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fezulnordin.rugbyforrookie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Rugby For Rookie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rules"
            android:label="Rules and Regulation" />

        <activity
            android:name=".tutorialSubMenu"
            android:label="Tutorial" />
        <activity
            android:name=".tutor1"
            android:label="Tutorial 1" />

        <activity
            android:name=".tutor2"
            android:label="Tutorial 2" />
        <activity
            android:name=".tutor3"
            android:label="Tutorial 3" />

        <activity
            android:name=".tutor4"
            android:label="Tutorial 4" />

        <activity
            android:name=".tutor5"
            android:label="Tutorial 5" />

        <activity
            android:name=".tutor6"
            android:label="Tutorial 7" />

        <activity
            android:name=".tutor7"
            android:label="Tutorial 8" />

        <activity
            android:name=".tutor8"
            android:label="Tutorial 9" />


        <activity
            android:name=".tips1"
            android:label="Tips Menu" />


        <activity
            android:name=".about"
            android:label="About" />

    </application>

</manifest>